.ContactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 1%;
    box-sizing: border-box;
}

/* .ContactData input {
    display: block;
    margin: 10px auto;
} */

@media (min-width: 500px) {
    .ContactData {
        padding: 40px;
        width: 500px;
    }
}

@media (min-width: 900px) {
    .ContactData {
        padding: 40px;
        width: 800px;
    }
}

